<div class="relative">
  <div
    #heroImage
    class="floating-astronaut bg-no-repeat bg-center bg-cover -mb-2 bg-[url(/images/hero-640w.webp)] md:bg-[url(/images/hero-768w.webp)] lg:bg-[url(/images/hero-1024w.webp)] xl:bg-[url(/images/hero-1280w.webp)] 2xl:bg-[url(/images/hero-1536w.webp)] w-[350px] h-[336px] md:w-[505px] md:h-[485px] lg:w-[561px] lg:h-[540px] xl:w-[634px] xl:h-[610px] 2xl:w-[756px] 2xl:h-[728px]"
    [ngStyle]="getLandscapeStyle()"
    role="img"
    aria-label="An astronaut floating in space."
  ></div>
</div>
