<div
  class="w-[340px] h-[326px] md:w-[540px] md:h-[518px] xl:w-[640px] xl:h-[615px] 2xl:w-[770px] 2xl:h-[740px] 4k:w-[1650px] 4k:h-[1586px] animation-load"
  [style]="getLandscapeStyle()"
>
  <div
    class="floating-astronaut w-[340px] h-[326px] md:w-[540px] md:h-[518px] xl:w-[640px] xl:h-[615px] 2xl:w-[770px] 2xl:h-[740px] 4k:w-[1640px] 4k:h-[1576px] absolute bg-[url(https://ik.imagekit.io/maurogonzalezdev/portfolio/hero-1536w_EmSp_MFVC.webp?tr=w-340,q-100)] md:bg-[url(https://ik.imagekit.io/maurogonzalezdev/portfolio/hero-1536w_EmSp_MFVC.webp?tr=w-540,q-100)] xl:bg-[url(https://ik.imagekit.io/maurogonzalezdev/portfolio/hero-1536w_EmSp_MFVC.webp?tr=w-640,q-100)] 2xl:bg-[url(https://ik.imagekit.io/maurogonzalezdev/portfolio/hero-1536w_EmSp_MFVC.webp?tr=w-770,q-100)] 4k:bg-[url(https://ik.imagekit.io/maurogonzalezdev/portfolio/hero-1536w_EmSp_MFVC.webp?tr=w-1650,q-100)] bg-no-repeat bg-cover"
  ></div>
</div>
