@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* Purple Theme (Tailwind base styles) a.k.a light theme */
@theme {
  /* Fonts */
  --font-manrope: 'Manrope', system-ui, sans-serif;

  /* Breakpoints */
  --breakpoint-2k: 128rem;
  --breakpoint-4k: 240rem;

  /* Custom colors */
  --color-*: initial;
  --color-white: rgba(255, 255, 255, 1);
  --color-gray: rgba(207, 207, 207, 1);
  --color-dark-gray: rgba(136, 136, 136, 1);
  --color-black: rgba(25, 25, 25, 1);
  --color-green: rgba(38, 179, 120, 1);

  /* Theme colors */
  --color-primary: rgba(23, 22, 31, 1);
  --color-secondary: rgba(31, 26, 38, 1);
  --color-tertiary: rgba(44, 31, 59, 1);
  --color-quaternary: rgba(57, 45, 75, 1);
  --color-accent: rgba(255, 102, 163, 1);
  --color-contrast: rgba(183, 234, 253, 1);
}

/* Dark theme */
@layer base {
  @variant dark {
    /* Theme colors */
    --color-primary: rgba(25, 25, 25, 1);
    --color-secondary: rgba(31, 31, 31, 1);
    --color-tertiary: rgb(43, 43, 43);
    --color-quaternary: rgba(33, 33, 33, 1);
    --color-accent: rgba(189, 102, 255, 1);
    --color-contrast: rgba(255, 242, 217, 1);
  }
}
