@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';
@custom-variant purple (&:where(.purple, .purple *));

/* Window resize transitions */
:root {
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  --transition-width-duration: 400ms;
  --transition-height-duration: 50ms;
  --transition-timing-function: ease-in-out;

  /* Theme switcher */
  transition: background-color 700ms cubic-bezier(0.6, 0, 0.4, 1),
    color 700ms cubic-bezier(0.6, 0, 0.4, 1);

  /* Loader */
  .loader {
    background: radial-gradient(
      circle,
      rgba(32, 30, 34, 1) 0%,
      rgba(25, 23, 29, 1) 50%,
      rgba(19, 19, 19, 1) 100%
    );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle-loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #ffffff;
    animation: spin 1s ease-in-out infinite;
  }
}

*,
*::before,
*::after {
  transition-property: width, height;
  transition-duration: var(--transition-width-duration),
    var(--transition-height-duration);
  transition-timing-function: var(--transition-timing-function);
}

/* Dark Theme (Tailwind base styles) */
@theme {
  /* Fonts */
  --font-manrope: 'Manrope', system-ui, sans-serif;

  /* Breakpoints */
  --breakpoint-2k: 128rem;
  --breakpoint-4k: 240rem;

  /* Custom colors */
  --color-*: initial;
  --color-white: rgba(255, 255, 255, 1);
  --color-gray: rgba(207, 207, 207, 1);
  --color-dark-gray: rgba(136, 136, 136, 1);
  --color-black: rgba(25, 25, 25, 1);
  --color-green: rgba(38, 179, 120, 1);

  /* Theme colors */
  --color-primary: rgba(25, 25, 25, 1);
  --color-secondary: rgba(31, 31, 31, 1);
  --color-tertiary: rgb(43, 43, 43);
  --color-quaternary: rgba(33, 33, 33, 1);
  --color-accent: rgba(189, 102, 255, 1);
  --color-contrast: rgba(255, 242, 217, 1);
}

/* Purple theme */
@layer base {
  @variant purple {
    /* Theme colors */
    --color-primary: rgba(23, 22, 31, 1);
    --color-secondary: rgba(31, 26, 38, 1);
    --color-tertiary: rgba(44, 31, 59, 1);
    --color-quaternary: rgba(57, 45, 75, 1);
    --color-accent: rgba(255, 102, 163, 1);
    --color-contrast: rgba(183, 234, 253, 1);
  }
}
