@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';

:root {
  /* Font family for the app */
  --font-manrope: 'Manrope', sans-serif;

  /* Custom properties for light theme */
  --color-primary: rgba(23, 22, 31, 1);
  --color-secondary: rgba(30, 25, 49, 1);
  --color-tertiary: rgba(62, 56, 88, 1);
  --color-quaternary: rgba(64, 42, 116, 1);
  --color-quinary: rgba(26, 16, 40, 1);
}

/* Custom properties for dark theme */
.dark {
  --color-primary: rgba(25, 25, 25, 1);
  --color-secondary: rgba(31, 31, 31, 1);
  --color-tertiary: rgb(43, 43, 43);
  --color-quaternary: rgba(33, 33, 33, 1);
  --color-quinary: rgb(15, 15, 15);
}
