:host{
  flex-grow: 1;
}

article::after {
  border-top-right-radius: var(--radius-4xl);
  z-index: 10;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,rgba(68, 52, 92, 0.9) 0%, rgba(255, 255, 255, 0.1) 100%);
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

article:hover::after {
  opacity: 0.6;
}
