<!-- Desktop Navbar Link -->
<a
  class="bg-white opacity-90 hover:opacity-100 text-base 2k:text-xl 4k:text-4xl text-left px-4 4k:px-6 pr-6 4k:pr-8 py-0.5 4k:py-1 uppercase cursor-pointer hover:pr-8 hover:pl-3 hover:border-r-2 hover:border-dark-gray nav-link"
  [attr.aria-label]="getLink.name"
  (click)="navigateToFragment($event)"
  [href]="getLink.fragment"
  [class.text-accent]="isActive"
  [class.border-r-2]="isActive"
  [class.border-accent]="isActive"
  [class.pr-8]="isActive"
  [class.pl-3]="isActive"
  [class.font-bold]="isActive"
  [class.opacity-100]="isActive"
  [class.text-primary]="!isActive"
  [class.hover:text-dark-gray]="!isActive"
>
  <!-- Icon -->
  <navbar-icon-desktop
    [setIcon]="getNavbarIcon()"
    [setColor]="getColor"
  ></navbar-icon-desktop>

  <span class="ml-1">
    {{ getLink.name }}
  </span>
</a>
