<div class="lg:mt-40">
  <shared-imagotype></shared-imagotype>

  <h1
    class="italic text-contrast lowercase mt-4 2k:mt-7 4k:mt-9 text-base 2k:text-xl 4k:text-3xl"
  >
    Mauro-Gonzalez.Dev - Full Stack Developer
  </h1>

  <h2
    class="mt-0.5 4k:mt-2 text-4xl md:text-6xl 2k:text-7xl 4k:text-[10rem] font-extrabold uppercase leading-10 md:leading-14 2k:leading-16 4k:leading-32 tracking-wide text-white flex flex-col content-start"
  >
    Turning
    <span
      class="block md:inline md:-ml-[0.05em] text-2xl 2k:text-5xl 4k:text-8xl text-accent lowercase font-bold tracking-normal"
      >ideas
      <span
        class="block md:inline uppercase text-white italic md:not-italic pt-1.5"
        >into</span
      >
      stunning</span
    >
    <span class="block -ml-[0.05em] md:inline">experiences</span>
  </h2>
</div>
