<!-- Theme Switcher Button -->
<button
  class="w-12 h-12 4k:w-20 4k:h-20 rounded-full flex justify-center items-center transition-all duration-180 ease-in-out"
  [style]="getButtonStyle()"
  [disabled]="getThemeButton.isActive"
  [ngClass]="
    getThemeButton.isActive
      ? 'cursor-default saturate-200 scale-110 border-2 border-contrast'
      : 'cursor-pointer hover:scale-110 hover:saturate-200 border-2 border-primary'
  "
  (click)="toggleTheme()"
>
  <span class="w-7 absolute">
    @if(getThemeButton.name==='dark'){
    <theme-dark-icon></theme-dark-icon>
    }@else{
    <theme-purple-icon></theme-purple-icon>
    }
  </span>
</button>
