<span class="text-sm 4k:text-2xl font-light tracking-tight hover:opacity-85">
  @if(getOptionLink.url==='/blog'){
  <a [routerLink]="getOptionLink.url">{{ getOptionLink.name }} </a>
  }@else if(getOptionLink.name==='Download Resume'){
  <a
    class="font-bold"
    [href]="getOptionLink.url"
    target="_blank"
    rel="noopener noreferrer"
    >{{ getOptionLink.name }}
  </a>
  }@else {
  <a [href]="getOptionLink.url" target="_blank" rel="noopener noreferrer"
    >{{ getOptionLink.name }}
  </a>
  }
  <span class="relative -mt-0.5 4k:-mt-2 w-3 h-3"
    ><ng-icon
      [svg]="getIcon"
      [color]="'#ffffff'"
      [size]="'12'"
      class="absolute"
    ></ng-icon
  ></span>
</span>
