<div class="background-container">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    height="100%"
    [attr.viewBox]="svgViewBox"
    preserveAspectRatio="xMidYMid slice"
    overflow="hidden"
    class="svg-background"
    aria-hidden="true"
  >
    <defs>
      @for(star of starsColors; track star.id){
      <filter [id]="star.id" x="-100%" y="-100%" width="300%" height="300%">
        <feGaussianBlur
          [attr.stdDeviation]="star.blur"
          result="blur"
        ></feGaussianBlur>
        <feFlood
          [attr.flood-color]="star.color"
          [attr.flood-opacity]="star.opacity"
          result="glow"
        ></feFlood>
        <feComposite
          in="glow"
          in2="blur"
          operator="in"
          result="softGlow"
        ></feComposite>
        <feComposite
          in="SourceGraphic"
          in2="softGlow"
          operator="over"
        ></feComposite>
      </filter>
      }
    </defs>

    <!-- Stars container -->
    <g #starsContainer fill="none" fill-rule="evenodd"></g>
  </svg>
</div>
