<sections-title
  [setTitle]="'Projects'"
  [setSubtitle]="'Explore some of my recent work'"
  [setAlign]="'left'"
  [icon]="getProjectsIcon"
  [color]="'var(--color-secondary)'"
></sections-title>

<!-- Projects -->
<section class="flex flex-col justify-start gap-1">
  <article
    class="rounded-2xl bg-tertiary hover:bg-quaternary flex flex-row py-1 px-2 min-w-full transition-all duration-300 ease-in-out"
  >
    <img
      src="/images/project-image.svg"
      alt=""
      class="w-24 md:w-36 2xl:w-40 4k:w-64 object-contain mr-4 transition-all duration-300 ease-in-out rounded-2xl hover:scale-105"
    />
    <div class="flex flex-col justify-center">
      <header>
        <h4
          class="text-base md:text-xl pb-2 2k:text-2xl 2k:pb-4 4k:text-5xl 4k:tracking-wider font-medium"
        >
          Project title very large
        </h4>
      </header>
      <p class="text-sm pt-2 2k:pt-3 2k:text-base 4k:text-2xl text-gray italic">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </p>
    </div>
  </article>
  <article
    class="rounded-2xl bg-tertiary hover:bg-quaternary flex flex-row py-1 px-2 min-w-full transition-all duration-300 ease-in-out"
  >
    <img
      src="/images/project-image.svg"
      alt=""
      class="w-24 md:w-36 2xl:w-40 4k:w-64 object-contain mr-4 transition-all duration-300 ease-in-out rounded-2xl hover:scale-105"
    />
    <div class="flex flex-col justify-center">
      <header>
        <h4
          class="text-base md:text-xl pb-2 2k:text-2xl 2k:pb-4 4k:text-5xl 4k:tracking-wider font-medium"
        >
          Project title very large
        </h4>
      </header>
      <p class="text-sm pt-2 2k:pt-3 2k:text-base 4k:text-2xl text-gray italic">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </p>
    </div>
  </article>
  <article
    class="rounded-2xl bg-tertiary hover:bg-quaternary flex flex-row py-1 px-2 min-w-full transition-all duration-300 ease-in-out"
  >
    <img
      src="/images/project-image.svg"
      alt=""
      class="w-24 md:w-36 2xl:w-40 4k:w-64 object-contain mr-4 transition-all duration-300 ease-in-out rounded-2xl hover:scale-105"
    />
    <div class="flex flex-col justify-center">
      <header>
        <h4
          class="text-base md:text-xl pb-2 2k:text-2xl 2k:pb-4 4k:text-5xl 4k:tracking-wider font-medium"
        >
          Project title very large
        </h4>
      </header>
      <p class="text-sm pt-2 2k:pt-3 2k:text-base 4k:text-2xl text-gray italic">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </p>
    </div>
  </article>
</section>

<a [href]="getGithubUrl" target="_blank">Visit my GitHub repos</a>
