<main class="bg-red-500 w-full min-h-svh max-h-svh relative overflow-y-hidden">
  <!--Top ribbon-->
  <div class="absolute left-0 top-0 right-0">
    <app-ribbon-layout [setPosition]="'top'"></app-ribbon-layout>
  </div>
  <!--Menu-->
  <app-menu></app-menu>
  <!--Navbar-->
  <app-navbar></app-navbar>
  <!--Main content-->
  <div
    class="bg-blue-500 min-h-full absolute mt-6 left-0 top-0 right-0 bottom-0 px-4 pt-6 pb-6"
    [ngStyle]="{ 'margin-left': mainStyle() }"
  >
    <ng-scrollbar
      hoverOffset="true"
      appearance="compact"
      class="relative right-0"
    >
      <router-outlet></router-outlet>
    </ng-scrollbar>
  </div>
  <!--Bottom ribbon-->
  <div class="absolute left-0 right-0 bottom-0">
    <app-ribbon-layout [setPosition]="'bottom'"></app-ribbon-layout>
  </div>
</main>
