<button
  class="w-36 2k:w-56 mt-5 2k:mt-10 cursor-pointer bg-gradient-to-br from-dark-gray/85 to-primary/85 text-white text-center text-base lg:text-sm 2k:text-xl p-1.5 2k:p-3 gap-1 2k:gap-5 flex justify-center items-center rounded-2xl tracking-widest transition-all duration-160 ease-in-out hover:scale-105 font-light lowercase 2k:uppercase border-2 border-dark-gray hover:border-gray hover:bg-accent animate-bounce"
  (click)="navigate()"
>
  <ng-icon
    [name]="'heroArrowDownCircle'"
    [size]="'24'"
    [strokeWidth]="1"
    [color]="'white'"
  ></ng-icon>
  {{ getId }}
</button>
