<shared-title
  [setTitle]="'Skills'"
  [setSubtitle]="'My expertise across technologies'"
  [setAlign]="'right'"
  [icon]="getSkillsIcon"
  [color]="'var(--color-tertiary)'"
></shared-title>

<shared-caption
  [setAlignment]="'right'"
  [setCaption]="'Technical Skills'"
></shared-caption>
<ul class="flex justify-end items-center flex-wrap gap-1 md:gap-3 w-full mb-1">
  @for(skill of getTechnicalSkills(); track skill.id){
  <section-skill
    [setSkillIcon]="skill.icon"
    [setSkillDescription]="skill.description"
    [setSkillName]="skill.name"
  ></section-skill>
  }
</ul>

<shared-caption
  [setAlignment]="'right'"
  [setCaption]="'Soft Skills'"
></shared-caption>
<ul class="flex justify-end items-center flex-wrap gap-1 md:gap-3 w-full mb-1">
  @for(skill of getSoftSkills(); track skill.id){
  <section-skill
    [setSkillIcon]="skill.icon"
    [setSkillDescription]="skill.description"
    [setSkillName]="skill.name"
  ></section-skill>
  }
</ul>

@if(!getIsSmallScreen){
<shared-caption
  [setAlignment]="'right'"
  [setCaption]="'General Skills'"
></shared-caption>
<ul class="flex justify-end items-center flex-wrap gap-1 md:gap-3 w-full mb-2">
  @for(skill of getGeneralSkills(); track skill.id){
  <section-skill
    [setSkillIcon]="skill.icon"
    [setSkillDescription]="skill.description"
    [setSkillName]="skill.name"
  ></section-skill>
  }
</ul>
}
