<sections-title
  [setTitle]="'Contact'"
  [setSubtitle]="'Let\'s stay in touch'"
  [setAlign]="'center'"
  [icon]="getContactIcon"
  [color]="'var(--color-primary)'"
></sections-title>

<!-- Contact Form -->
<form
  [formGroup]="form"
  (ngSubmit)="submitForm()"
  class="mx-auto 2k:max-w-2xl 4k:max-w-3xl p-4 bg-white shadow-md rounded-lg"
>
  <div class="mb-4">
    <label
      for="name"
      class="block text-sm 2k:text-2xl font-medium text-black mb-1"
      >Name</label
    >
    <input
      id="name"
      formControlName="name"
      class="w-full px-3 py-2 border border-gray rounded-md shadow-sm focus:outline-black focus:border-black text-dark-gray focus:text-black"
      placeholder="Write your name here"
      type="text"
      required
    />
    @if(getErrorMessage('name')){
    <p class="text-accent">*{{ getErrorMessage('name') }}</p>
    }
  </div>

  <div class="mb-4">
    <label
      for="email"
      class="block text-sm 2k:text-2xl font-medium text-black mb-1"
      >Contact email</label
    >
    <input
      id="email"
      formControlName="email"
      class="w-full px-3 py-2 border border-gray rounded-md shadow-sm focus:outline-black focus:border-black text-dark-gray focus:text-black"
      placeholder="Write your email here"
      type="email"
      required
    />
    @if(getErrorMessage('email')){
    <p class="text-accent">*{{ getErrorMessage('email') }}</p>
    }
  </div>

  <div class="mb-4">
    <label
      for="message"
      class="block text-sm 2k:text-2xl font-medium text-black mb-1"
      >Message</label
    >
    <textarea
      id="message"
      formControlName="content"
      required
      class="w-full px-3 py-2 border border-gray rounded-md shadow-sm focus:outline-black focus:border-black text-dark-gray focus:text-black"
      placeholder="Write your message here"
      rows="5"
    ></textarea>
    @if(getErrorMessage('content')){
    <p class="text-accent">*{{ getErrorMessage('content') }}</p>
    }
  </div>

  <!-- Submit Form -->
  <button
    type="submit"
    class="w-full bg-accent text-white text-base 4k:text-xl not-disabled:hover:bg-secondary font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-contrast focus:ring-opacity-50 cursor-pointer"
    [disabled]="form.invalid"
    [ngClass]="{ 'opacity-20': form.invalid }"
  >
    Submit
  </button>
  <button
    type="reset"
    class="mt-3 w-full bg-tertiary text-white text-base 4k:text-xl hover:bg-quaternary font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-contrast focus:ring-opacity-50 cursor-pointer"
    [disabled]="form.pristine"
    [ngClass]="{ 'opacity-20': form.pristine }"
  >
    Reset
  </button>
</form>
<!-- <sections-contact-toast></sections-contact-toast> -->
