<div class="flex flex-col lg:flex-row min-h-screen">
  <header
    class="relative w-full h-svh min-h-[50vh] lg:h-svh lg:w-6/12 lg:fixed lg:top-0 lg:left-0 lg:bottom-0 z-10 overflow-hidden"
    id="home"
    sharedScrollSpy
    setId="#home"
  >
    @if(getIsMobile){
    <div class="block lg:hidden">
      <shared-mobile-navbar class="block lg:hidden z-[999]">
      </shared-mobile-navbar>
      <hero-mobile-hero
        class="block lg:hidden absolute w-full h-full z-50"
      ></hero-mobile-hero>
    </div>
    @if((getCurrentFragment$() | async) !== '/' && (getCurrentFragment$() |
    async) !== '#home' && (getCurrentFragment$() | async) !== '' &&
    (getCurrentFragment$() | async) !== 'home'){
    <shared-back-to-top></shared-back-to-top>
    } }@else { @defer(on immediate; prefetch on idle){
    <div
      class="absolute hidden lg:block lg:w-auto lg:top-auto lg:bottom-6 lg:left-6 2k:bottom-10 2k:left-10 z-50"
    >
      <shared-imagotype></shared-imagotype>
    </div>
    <shared-options-bar class="hidden lg:block"></shared-options-bar>
    <shared-desktop-navbar class="hidden lg:block"> </shared-desktop-navbar>} }

    <hero-container></hero-container>
  </header>

  <!-- Snap scrolling container -->
  <main class="w-full lg:w-6/12 lg:ml-auto h-auto lg:h-dvh">
    <!-- Desktop scroll -->
    <div
      class="snap-y snap-mandatory overflow-y-auto h-auto lg:h-full scroll-smooth scroll-container"
    >
      <!-- Snap-center sections -->
      <div
        class="snap-always snap-center lg:h-screen bg-primary"
        id="about-me"
        sharedScrollSpy
        setId="#about-me"
      >
        <!-- About Me -->
        <section
          class="min-h-screen lg:h-screen w-full px-9 py-1 md:px-16 md:py-5 flex flex-col items-center justify-center"
        >
          <section-about-me></section-about-me>
          <shared-vertical-divider></shared-vertical-divider>
          <shared-scroll-navigator
            class="self-center mt-7"
            [setScrollTo]="'projects'"
          ></shared-scroll-navigator>
        </section>
      </div>

      <div
        class="snap-always snap-center lg:h-screen bg-secondary"
        id="projects"
        sharedScrollSpy
        setId="#projects"
      >
        <!-- Projects -->
        @defer (on immediate) {
        <section
          class="min-h-screen lg:h-screen w-full px-9 py-1 md:px-16 md:py-5 flex flex-col items-start justify-center"
        >
          <section-projects></section-projects>
          <shared-scroll-navigator
            class="self-center mt-7"
            [setScrollTo]="'skills'"
          ></shared-scroll-navigator>
        </section>
        }@placeholder() {
        <div
          class="min-h-screen w-full h-full flex flex-col gap-4 justify-center items-center"
        >
          <div class="circle-loader"></div>
        </div>
        }
      </div>

      <div
        class="snap-always snap-center lg:h-screen bg-tertiary"
        id="skills"
        sharedScrollSpy
        setId="#skills"
      >
        <!-- Skills -->
        @defer (on immediate) {
        <section
          class="min-h-screen lg:h-screen w-full px-9 py-1 md:px-16 md:py-5 flex flex-col items-start justify-center"
        >
          <section-skills></section-skills>
          <shared-scroll-navigator
            class="self-center mt-7"
            [setScrollTo]="'posts'"
          ></shared-scroll-navigator>
        </section>
        }@placeholder() {
        <div
          class="min-h-screen w-full h-full flex flex-col gap-4 justify-center items-center"
        >
          <div class="circle-loader"></div>
        </div>
        }
      </div>

      <div
        class="snap-always snap-center lg:h-screen bg-quaternary"
        id="posts"
        sharedScrollSpy
        setId="#posts"
      >
        <!-- Last Posts -->
        @defer (on immediate) {
        <section
          class="min-h-screen lg:h-screen w-full px-9 py-1 md:px-16 md:py-5 flex flex-col items-start justify-center"
        >
          <section-posts></section-posts>
          <shared-scroll-navigator
            class="self-center mt-7"
            [setScrollTo]="'contact'"
          ></shared-scroll-navigator>
        </section>
        }@placeholder() {
        <div
          class="min-h-screen w-full h-full flex flex-col gap-4 justify-center items-center"
        >
          <div class="circle-loader"></div>
        </div>
        }
      </div>

      <div
        class="snap-always snap-center lg:h-screen bg-primary"
        id="contact"
        sharedScrollSpy
        setId="#contact"
      >
        <!-- Contact -->
        @defer (on immediate) {
        <section
          class="min-h-screen lg:h-screen w-full px-9 py-1 md:px-16 md:py-5 flex flex-col items-start justify-center"
        >
          <section-contact></section-contact>
        </section>
        }@placeholder() {
        <div
          class="min-h-screen w-full h-full flex flex-col gap-4 justify-center items-center"
        >
          <div class="circle-loader"></div>
        </div>
        }
      </div>
    </div>
  </main>
</div>
