<!-- Options Ribbon -->
<div
  class="absolute md:top-9 lg:top-11 2k:top-20 4k:top-32 bg-primary/95 rounded-3xl w-11/12 xl:w-4/6 2xl:w-3/5 2k:w-2/4 4k:w-5/12 h-10 2k:h-11 4k:h-20 left-0 right-0 mx-auto z-50 flex justify-between items-center pr-7 animation-load"
>
  <shared-theme-switcher class="relative -ml-1.5"></shared-theme-switcher>
  <div class="flex justify-between gap-4 xl:gap-6 2k:gap-9">
    @for(option of getOptionLinks(); track option.id){
    <shared-option-link
      [setOptionLink]="option"
      [setIcon]="getArrowIcon"
    ></shared-option-link>
    }
  </div>
</div>
