@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Target the deferred components with these classes */
.animation-load {
  animation: fadeIn 700ms ease-out forwards;
}

@media (max-width: 767px) {
  .animation-load {
    animation: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animation-load {
    animation: none;
  }
}
