<div class="relative w-full h-full overflow-hidden">
  <!-- Responsive Background Images -->
  <div
    class="starfield relative w-full h-full md:bg-[url(https://ik.imagekit.io/maurogonzalezdev/portfolio/starfield-700w_iACgDv7TD.webp?q-85)] lg:bg-[url(https://ik.imagekit.io/maurogonzalezdev/portfolio/starfield-505w_-grIAnz93.webp?q-85)] xl:bg-[url(https://ik.imagekit.io/maurogonzalezdev/portfolio/starfield-650w_bhHNE9qpm.webp?q-85)] 2xl:bg-[url(https://ik.imagekit.io/maurogonzalezdev/portfolio/starfield-800w_EODHusLh3.webp?q-85)] 2k:bg-[url(https://ik.imagekit.io/maurogonzalezdev/portfolio/starfield-920w_gnhhMP4ef.webp?q-85)] bg-auto bg-repeat"
  ></div>
</div>
