<!-- Shared Sections Placeholder -->
<div class="w-[333px] h-full px-12">
  <div class="w-64 xl:w-96 h-12 bg-gray rounded-sm mb-6 pl-5 relative"></div>
  <div class="flex flex-row flex-wrap justify-start content-baseline gap-4">
    <div class="w-[5rem] h-8 bg-gray rounded-sm"></div>
    <div class="w-[10rem] h-8 bg-gray rounded-sm"></div>
    <div class="w-[32rem] h-8 bg-gray rounded-sm"></div>
    <div class="w-[25rem] h-8 bg-gray rounded-sm"></div>
    <div class="w-[5rem] h-8 bg-gray rounded-sm"></div>
    <div class="w-[10rem] h-8 bg-gray rounded-sm"></div>
    <div class="w-[32rem] h-8 bg-gray rounded-sm"></div>
  </div>
</div>
